@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html,body{
    height: 100%;
}
.logo {
    margin-right: 10px;
}
.btn-space {
    margin: 5px;
}
.erro {
    background-color: #ffcccc;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

#holder{
    min-height: 100%;
    position:relative;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
#body{
    padding-bottom: 50px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
.footer{
    color: white;
    height: 50px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

.btn-login{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.text-welcome{
    padding-bottom: 50px;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
}

